body {
  background-color: #ececeb;
}
a {
  text-decoration: none !important;
}
.btn:active {
  outline: 0;
}
.btn:focus {
  outline: 0;
}
.text-green {
  color: #3b797d;
}
.head-logo {
  display: flex;
  list-style: none;
  margin-bottom: 0px;
  padding: 15px 0px;
}
.head-logo p {
  margin-bottom: 0px !important;
  /* color: #3b797d; */
}
.head-logo a {
  color: #3b797d;
}
.head-logo a.active {
  color: #6be1e1 !important;
}
.head-logo li {
  padding: 0px 30px;
}
.performance {
  background: #3b797d;
  margin-bottom: 0px !important;
  padding: 7px 30px;
  color: #fff;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #d6edee !important;
  position: absolute;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: #000;
  padding: 14px 14px 14px 30px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #8bcacb;
  color: #fff;
}

.sidebar a:hover:not(.active) {
  background-color: #8bcacb;
  color: #fff;
}

div.content {
  margin-left: 250px;
  padding: 1px 16px;
  height: 100%;
  background-color: #ececeb;
}

@media screen and (max-width: 767px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
  .head-logo li {
    padding: 0px 15px;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.journeys {
  margin: 40px 20px;
}
.img-journey {
  background: #4ca7a8;
  padding: 8px;
  border-radius: 9px;
  margin-right: 50px;
}
.journey-table img {
  /* position: relative;
    left: 50%;
    transform: translate(-50%);
    top: 50%; */
}
.journey-table th {
  border: 12px solid #ececeb;
  padding: 15px;
  width: 100px;
}
.journey-table tr {
  margin-bottom: 10px;
  background: #fff;
  border: 12px solid #ececeb;
  color: #3b797d;
  font-weight: 600;
}
.journey-table tr a {
  color: #3b797d;
}
.journey-table tr td {
  vertical-align: middle;
}
.journey-table span.percentage {
  font-size: 24px;
}
#add-journey .modal-title {
  color: #284772;
}
#add-journey .modal-header {
  padding: 0px 38px;
  border-bottom: 1px solid #000;
}
#add-journey .modal-footer {
  padding: 4px;
  border: none;
}
.cancel-btn {
  color: #46afb2;
}
.done-btn {
  background: #46afb2;
  color: #fff;
  padding: 1px 4px;
}
.cancel-btn:hover {
  color: #46afb2;
}
.done-btn:hover {
  background: #46afb2;
  color: #fff;
}

.journey-content {
  /* margin: 20px 0px 100px 0px; */
  margin: 20px 0px 30px 0px;
}
.journey-content img {
  padding: 13px;
  background: #46afb2;
  border-radius: 8px;
}
#add-journey .modal-body .add-btn {
  margin: 50px 0px;
  background: #edecea;
  padding: 5px 45px;
}
#add-journey .modal-footer {
  padding: 0px 22px;
}
/* 
.modal-body{
	overflow-y: scroll;
	height: 250px;
}
#add-journey .modal-body::-webkit-scrollbar {
   width: 15px;          
}
 
#add-journey .modal-body::-webkit-scrollbar-thumb {   
  border-radius: 30px;
  background: -webkit-gradient(linear,left top,left bottom,from(#ff8a00),to(#da1b60));
  box-shadow: inset 2px 2px 2px rgba(255,255,255,.25), inset -2px -2px 2px rgba(0,0,0,.25);}
 
#add-journey .modal-body::-webkit-scrollbar-track {     
  background-color: #fff;
 
} */

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.custom-scrollbar-js,
.custom-scrollbar-css {
  height: 250px;
}

/* Custom Scrollbar using CSS */
.custom-scrollbar-css {
  overflow-y: scroll;
}

/* scrollbar width */
.custom-scrollbar-css::-webkit-scrollbar {
  width: 5px;
}

/* scrollbar track */
.custom-scrollbar-css::-webkit-scrollbar-track {
  background: #eee;
  height: 100px;
}

/* scrollbar handle */
.custom-scrollbar-css::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #000;
}
#mCSB_1_scrollbar_vertical {
  bottom: 26px !important;
  background: #ecebea !important;
  border-radius: 16px !important;
  overflow: hidden !important;
}
#mCSB_1_dragger_vertical {
  height: 40px !important;
  min-height: 30px !important;
}
.mCSB_dragger_bar {
  position: relative !important;
}
.mCSB_draggerRail {
  background: #01abe4 !important;
}

/*
*
* ==========================================

/*
*
* =================     Marketing Wizard Design css        =========================

*/

.head-retail {
  color: #3b797d;
}
.wiz-head {
  padding: 15px 10px;
  background: #fff;
}
.wiz-head ul li {
  font-size: 80%;
  color: #000 !important;
}
.wiz-head ul a {
  color: #000;
}
.wiz-head ul li.active a {
  color: #3b797d !important;
}
.mr-20 {
  margin-right: 20px;
}
.market-desc {
  margin-left: 68px;
}
.market-retail-sec {
  padding: 50px 0px;
}
.market-retail-sec h5 {
  color: #3b797d;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.market-retail-sec p {
  color: #3b797d;
}
@media screen and (max-width: 767px) {
  .market-retail img {
    margin-right: 20px !important;
  }
  .market-desc {
    margin-left: 5px;
  }

  .market-channels {
    /* padding: 68px !important;					 */
    width: 100% !important;
    /* margin-bottom: 20px; */
  }
  input[type="radio"] + label {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .head-img {
    height: auto;
    width: 30px;
    margin-top: 10px;
  }
}
@media screen and (min-width: 992px) {
  .desk-plr-68 {
    padding: 0px 68px 0px 100px !important;
  }
}

@media screen and (min-width: 1200px) {
  .pd-112 {
    padding-left: 112px;
  }
}
.market-channels {
  padding: 68px;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  /*width: 90%; */
} /* 
.market-channels.active{
	background: #04304a !important;
}

.market-channels:hover{
	background: #04304a !important;
} */
.channel-img {
  background: #eb7600;
  padding: 15px;
  border-radius: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
}
p.channel-text {
  text-align: center;
  color: #3b797d;
  margin: 15px 0px;
}

.next-btn {
  background: #46afb2;
  color: #fff;
  padding: 1px 18px;
  float: right;
}
.next-btn:hover {
  background: #46afb2;
  color: #fff;
}
.cancel-btn {
  outline: none !important;
}

.progress {
  background-color: #3d3838 !important;
}
.progress-bar {
  background-color: #00abe4 !important;
}
.star-channel {
  background: #04304a;
  padding: 5px;
  border-radius: 8px;
}
.journeyCard .card {
  margin-right: 10px !important;
  margin-bottom: 10px !important;
  width: 100%;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.journeyCard .card-body {
  padding: 15px 15px;
}
.journeyCard .card-title {
  margin-bottom: 15px;
  color: #46afb2;
}
.journeyCard .card-footer {
  background: none;
  border: none;
  padding: 10px 15px;
  justify-content: space-between;
  display: flex;
}

.info-btn {
  color: #46afb2;
  position: relative;
  top: 5px;
}
.info-btn:hover {
  color: #46afb2;
}
/* .journeyCard .card-footer .ad-btn{
	padding: 3px 15px;
	border: 2px solid #46afb2;
	color : #46afb2;
} */
.border_add {
  padding: 3px 15px !important;
  border: 2px solid #46afb2 ;
  color: #46afb2 ;
}
.border_remove{
  padding: 3px 2px !important;
  border: 2px solid #46afb2 ;
  color: #46afb2 ;
}
.border_add:hover {
  border: 2px solid #46afb2;
  color: #fff !important;
  background-color: #46afb2;
}
@media screen and (max-width: 991px) {
  .journeyCard {
    display: block !important;
  }
}

.cust-type {
  display: none;
}
input[type="checkbox"] + label {
  color: #45b1b3;
  background-color: #fff;
  border-color: #fff;
}
input[type="checkbox"]:hover + label {
  color: #fff;
  background-color: #fa9a68;
  border-color: #fa9a68;
}
input[type="checkbox"]:checked + label {
  color: #fff;
  background-color: #fa9a68;
  border-color: #fa9a68;
}
input[type="radio"] + label {
  color: #45b1b3;
  background-color: #fff;
  border-color: #fff;
  padding: 0px;
  margin: 10px;
  border-radius: 10px;
  margin-left: 0px;
  margin-right: 0px;
}
input[type="radio"]:hover + label .market-channels {
  color: #fff;
  background-color: #04304a;
  border-color: #04304a;
}
input[type="radio"]:checked + label .market-channels {
  color: #fff;
  background-color: #04304a;
  border-color: #04304a;
}
.btn-customer {
  padding: 6px 22px;
  margin-right: 15px;
}

.fa-spinner {
  color: #fff;
  width: auto !important;
  margin-top: 100px;
}
.fa-spinner:before {
  font-size: 80px !important;
  color: #fff;
}
.scrollable {
  overflow-y: scroll;
  height: 350px;
  overflow-x: hidden;
}

/*
*
* =================     End Marketing Wizard Design css        =========================

*/
